{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h2>{{ article.title }}</h2>

    {% if user.is_authenticated and user.username == article.author.username %}
    <a href="{% url 'users:profile' username=user.username %}" class="btn btn-white">작성자 : {{ article.author.username }}</a>
{% else %}
    <a href="{% url 'users:profile' username=article.author.username %}" class="btn btn-white">작성자 : {{ article.author.username }}</a>
{% endif %}
    
    <br>
    <br>

    {% if article.image %}
        <img src="{{ article.image.url }}">
    {% endif %}

    <p>가격 : {{ article.price | intcomma }}</p>
    <p>내용: {{ article.content }}</p>
    
    <p>작성일시: {{ article.created_at }}</p>
    <p>수정일시: {{ article.updated_at }}</p>

    <a href="{% url 'articles:articles' %}">목록보기</a>

    {% if user == article.author %}
        <a href="{% url 'articles:update' article.pk %}">
            <button>수정하기</button>
        </a>

        <form action="{% url 'articles:delete' article.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
{% endblock content %}
