{% extends 'base.html' %}

{% block content %}
<h2>{{ member.username }}님의 프로필 </h2>

{% if member.profile_image %}
        <img src="{{ member.profile_image.url }}" style="width: 500px; height: 500px;">
    {% endif %}

<p>팔로워 수: {{ member.followers.count }}</p>
<p>팔로잉 수: {{ member.followings.count }}</p>
<p>가입일: {{ member.date_joined }}</p>
<p>최근 로그인 이력: {{ member.last_login }}</p>

{% if request.user != member %}
<form action="{% url 'users:follow' member.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in member.followers.all %}
    <input type="submit" value="언팔로우">
    {% else %}
    <input type="submit" value="팔로우">
    {% endif %}
</form>
{% endif %}

<h2>찜한 물건 목록</h2>
<ul>
    {% for article in liked_articles %}
        <li>{{ article.title }}</li>
    {% empty %}
        <li>찜한 물건이 없습니다.</li>
    {% endfor %}
</ul>

<a href="/index/">홈으로 돌아가기</a>

{% endblock content %}