{% extends 'base.html' %}
{% load humanize %}
{% load static  %}
{% block content %}
<h2>{{ member.username }}님의 프로필 </h2>

{% if member.profile_image %}
        <img src="{{ member.profile_image.url }}" style="width: 500px; height: 500px;">
    {% else %}
        <img src="{% static 'articles\user.png' %}" style="width: 500px; height: 500px;">
    {% endif %}

<p>팔로워 수: {{ member.followers.count }}</p>
<p>팔로잉 수: {{ member.followings.count }}</p>
<p>가입일: {{ member.date_joined }}</p>
<p>최근 로그인 이력: {{ member.last_login }}</p>

{% if request.user != member %}
<form action="{% url 'users:follow' member.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in member.followers.all %}
    <input type="submit" value="언팔로우">
    {% else %}
    <input type="submit" value="팔로우">
    {% endif %}
</form>
{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>
<h2>찜한 상품 목록</h2>
<div class="row row-cols-1 row-cols-md-3 g-4" >
    {% for article in article %}
      <div class="col">
        <div class="card" >
          {% if article.image %}
            <img src="{{ article.image.url }}" class="card-img-top" style="width: 400px; height: 200px">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'articles:article_detail' article.pk %}">
                <p>[{{ article.pk }}] {{ article.title }}</p>
                <p>가격 : {{ article.price | intcomma }}</p>
              </a>
            </h5>
            <p class="card-text">{{ article.content }}</p>
            <form action="{% url 'articles:like' article.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in article.like_users.all %}
                <input type="submit" value="❤️">
              {% else %}
                <input type="submit" value="🖤">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<h2>내가 등록한 상품</h2>
<div class="row row-cols-1 row-cols-md-3 g-4" >
    {% for article in my_article %}
      <div class="col">
        <div class="card" >
          {% if article.image %}
            <img src="{{ article.image.url }}" class="card-img-top" style="width: 400px; height: 200px">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'articles:article_detail' article.pk %}">
                <p>[{{ article.pk }}] {{ article.title }}</p>
                <p>가격 : {{ article.price | intcomma }}</p>
              </a>
            </h5>
            <p class="card-text">{{ article.content }}</p>
            <form action="{% url 'articles:like' article.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in article.like_users.all %}
                <input type="submit" value="❤️">
              {% else %}
                <input type="submit" value="🖤">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<a href="/index/">홈으로 돌아가기</a>

{% endblock content %}